@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

.mainContainer {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background: rgb(25, 25, 25);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}



header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}

header ul li a:hover {
    color: #017143;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    max-width: 630px;
}

.content .textBox h2 {
    color: #fff;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900; 
}

.content .textBox p {
    color: #fff;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);

}

.content .textBox a:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#langButton {
    border-style: none;
    height: 40px;
    width: 160px;
    text-align: center; 
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

#langButton:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#btnDarkMode {
    border-style: none;
    height: 40px;
    width: 120px;
    text-align: center; 
    background: transparent;
    border: solid 2px #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 4px rgba(51, 51, 51, 0.5); 
}

#btnDarkMode:hover {
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.7);
}

.content .imgBox {
    width: 660px;
    display: flex;  
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;   
}

.content .imgBox img {
    max-width: 340px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px) ;
}

.thumb li img {
    max-width: 60px;
}

.social {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}
